*~
*.7
*.exe
*.o
*.html
*.la
*.lo
*.pc
*.pdf
*.rpm
*.so
*.spec
*.tar.gz
.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
tests/addcart_test
tests/addcut_test
tests/addlog_test
tests/assignschedcode_test
tests/audioinfo_test
tests/audiostore_test
tests/copyaudio_test
tests/createticket_test
tests/deleteaudio_test
tests/deletelog_test
tests/editcart_test
tests/editcut_test
tests/exportcart_test
tests/exportpeaks_test
tests/importcart_test
tests/listcart_test
tests/listcarts_test
tests/listcartschedcodes_test
tests/listcut_test
tests/listcuts_test
tests/listgroup_test
tests/listgroups_test
tests/listlog_test
tests/listlogs_test
tests/listschedcodes_test
tests/listservices_test
tests/removecart_test
tests/removecut_test
tests/savelog_test
tests/trimaudio_test
tests/unassignschedcode_test
